<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>71313016446-lar8taf6vr3bp668r4ioh8vjo756b0t3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71313016446-lar8taf6vr3bp668r4ioh8vjo756b0t3</string>
	<key>API_KEY</key>
	<string>AIzaSyC38Y5poEPjPmWp1o7Cu1b4x19PWYIXDyo</string>
	<key>GCM_SENDER_ID</key>
	<string>71313016446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.kohei.yoshida.Instagram2</string>
	<key>PROJECT_ID</key>
	<string>instagram2-385b0</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram2-385b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:71313016446:ios:5f447da38103529140fa2f</string>
</dict>
</plist>
